/* 版心 1190px */
/* 解决高度塌陷 */
.clearAll::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.container{
    width: 1190px;
    margin: 0 auto;
    position: relative;
}

/* 首页开始 */
.header{
    background-color: #e3e4e5;
}
.header ul{
    float: left;

}
.header ul li{
    font-size: 13px;
    height: 30px;
    float: left;
    color: #999;
    line-height: 30px;
}
.header ul li{
    float: left;
}
.header ul li a{
    display: inline;
}
.header ul li:first-of-type{
    display: flex;
}
.header ul li:first-of-type i{
    color: red;
}
/* 登录按钮 */
/* .header ul li .user-login{ */
    /* margin-left: 525px; */
    /* margin-right: 8px; */
/* } */
/* 高亮企业采购和注册 */
.high{
    color: red;
}
/* 鼠标移入开始变色 */
.space-btwtten{
    padding: 0 15px 0 15px;
}
.header .right-ul{
    float: right;
    position: relative;
}
.header .right-ul li a.space-btwtten {
    border-right: 1px solid #cccccc;
}
.hideTips{
    display: none !important;
}

.header .right-ul li:nth-of-type(2) .userinfo{
    position: absolute;
    width: 270px;
    z-index: 555;
    top: 29px;
    left: -100px;
    background-color: #fff;
    display: none;
    cursor: pointer;
    border: 1px solid #cccccc;
}
.header .right-ul li:nth-of-type(2) .userinfo .usi-top{
    padding: 10px 0px 10px 15px;
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.header .right-ul li:nth-of-type(2) .userinfo .usi-top img{
    width: 60px;
   border-radius: 50%;

}

.header .right-ul li:nth-of-type(2) .userinfo .usi-slider {
    height: 70px;
    position: relative;
    overflow: hidden;
}
.header .right-ul li:nth-of-type(2) .userinfo .usi-slider ul {
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    box-sizing: border-box;
}
.header .right-ul li:nth-of-type(2) .userinfo .usi-slider ul li{
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    // margin:  0 10px;
    cursor: pointer;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.header .right-ul li:nth-of-type(2) .userinfo .usi-slider ul li p{
    text-align: center;
}
.header .right-ul li:nth-of-type(2) .userinfo .usi-slider ul li:first-of-type{
    padding-left: 15px;
    z-index: -1;
}
// .header .right-ul li:nth-of-type(2) .userinfo .usi-slider ul li:nth-of-type(2n+1){
   
// }

.header .right-ul li:nth-of-type(2) .userinfo .usi-slider ul li i{
    // width: 55px;
    // height: 55px;
    font-size: 55px;
    display: block;
    color: gray;
}
.header .right-ul li:nth-of-type(2) .userinfo .usi-slider > i:first-of-type{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 18px;
    z-index:999;
}

.header .right-ul li:nth-of-type(2) .userinfo .usi-slider > i:last-of-type{
    width: 20px;
    height: 20px;
    position: absolute;
    right:5px;
    top: 18px;
}

/* 搜索框开始 */
.header-warp .container .logo{
    width: 190px;
    height: 120px;
    display: block;
    padding: 10px 0;
    position: absolute;
    z-index: 2;
}
.header-warp .container .logo img{
    width: 100%;
}
.header-warp .serach{
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top:30px ;
    box-sizing: border-box;
    z-index:999;
}
.header-warp .serach .serach-form{
    display: inline-block;
    border: 2px solid #f00;
    position: relative;
    box-sizing: border-box;
    margin-left: -58px;
}
.header-warp .serach .serach-form input{
    width: 425px;
    height: 26px;
    outline: 0;
    border: none;
    padding: 2px 44px 2px 17px;
    vertical-align: middle;
}

.header-warp .serach .serach-form span{
    vertical-align: middle;
    display: inline-block;
    width: 19px;
    height: 15px;
    position: absolute;
    top:8px;
    right: 68px;

}
.header-warp .serach .serach-form button{
    border-radius: 0;
    right: 0;
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/* 购物车开始 */

.header-warp .serach .shopcar{
    width: 130px;
    height: 34px;
    position: absolute;
    right: 195px;
    z-index: 21;
    top:30px;
    color: red;
    line-height: 34px;
    background-color: #fff;
    border: 1px solid #666;
}
.header-warp .serach .shopcar i{
    padding-right: 5px;
    box-sizing: border-box;
}
.header-warp .serach .shopcar i:last-of-type{
    position: absolute;
    top: 1px;
    left: 29px;
    right: auto;
    display: inline-block;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
.header-warp .serach .shopcar a {
    color: red;
}
.smaltips{
   text-align: center;
   height: 26px;
   line-height: 26px;
}
.smaltips .mytips{
    display: inline-block;
}
.smaltips ul{
    margin-left: 290px;
}
.smaltips ul li {
    margin-right: 10px;
    float: left;
    cursor: pointer;
}
.smaltips ul li:hover{
    color: red;
}
/* 高亮提示 */
.high{
    color: red;
}

/* 购买提示 */
.sell-list{
    padding-top: 20px;
}
.sell-list .sell-item {
    text-align: center;
    text-align: center;
}
.sell-list .sell-item ul{
    display: inline-block;
    margin-left: -50px;
}
.sell-list .sell-item ul li {
    float: left;
    cursor: pointer;
    
}
.sell-list .sell-item a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
}
.sell-list .sell-item a.high{
    color: red;
}
.sell-list .sell-item ul li:hover a {
    color: red;
}
/* 推广位 */
.pro-position{
    width: 190px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 10px;
}
.pro-position img{
    width: 100%;
}

.nav-box ul li {
    float: left;
    padding-left: 18px;
    height: 25px;
    line-height: 25px;
}
.nav-box ul li:nth-of-type(2){
    padding-top: 2px;
}
.nav-box ul li:nth-of-type(4){
    padding-top: 2px;
}
.nav-box ul li:nth-of-type(8){
    padding-top: 2px;
}
.nav-box ul li:nth-of-type(12){
    padding-top: 2px;
}
.nav-box ul li:nth-of-type(16){
    padding-top: 2px;
}
.nav-box ul li a {
    font-size: 14px;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.nav-bar .nav-box {
    overflow: hidden;
}
.nav-bar .nav-box .myslider{
    margin-top: 10px;
    background-color: white;
    position: relative;
}


/* 抢购专区 */
.left-clock{
    z-index: -1;
    position: relative;
    float: left;
    width: 190px;
    height: 260px;
    color: #fff;
    background-color: #e83632;
    background-image: url("../imgs/index/ia_100000076.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 999;
}
.toBuy{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
    position: relative;
}


body{
    background-color: #fafafa;
}


// 注册的下拉菜单


.header .right-ul >li:nth-of-type(2) .myspcposition{
    position: absolute;
    z-index: 999;
    height: 29px;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    border-bottom:1px solid transparent ;
    right: 580px;
    background-color: #fff;
}

.big-img img{
    height: 300px;
}
.timer-date{
    margin-top: 20px;
    position: relative;
}
.timer-date .timer-main ul{
    padding:0 25px;
}
.timer-date .timer-main ul li {
    cursor: pointer;
    display: block;
    float: left;
    width: 220px;
    height: 60px;
    line-height: 70px;
    transform: skew(-55deg);
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.timer-date .timer-main ul li div{
    transform: skew(0);
}
.timer-date .timer-main-fake ul li{
    float: left;
    width: 135px;
    height: 30px;
    display: flex;
    margin-left: -25px;
    margin-right: 125px;
    align-items: center;
    cursor: pointer;
}
.timer-date .timer-main-fake ul li:last-of-type{
    margin-right: 0;
}
.timer-date .timer-main-fake ul li .left-time{
    font-size: 20px;
    margin-right: 5px;
}
.timer-date .timer-main-fake ul{
    position: absolute;
    top: 18px;
    left: 87px;
    width: 100%;
    height: auto;
}
// 抢购倒计时
.timer-active{
    background-color: red !important;
    color: #fff !important;
    font-weight: 700;
}

.will-timer .left-time p {
    font-size: 14px;
    font-weight: 700;
}
.will-timer .top{
    padding:2px 5px;
    border-radius: 10px;
    border: 2px solid #000;
}
.will-timer .reduce-time{
    display: none;
}
.focus-info :hover{
    color: red;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.goods-list{
  margin-top: 30px;
    cursor: pointer;
    
}
.goods:nth-of-type(4n){
    padding-right: 0px;
}
.goods{
    border: 1px solid #cccccc;
    width: 250px;
    float: left;
   padding-right:26px ;
   padding-left: 26px;
    padding-bottom: 20px;
   padding-top: 20px;
    cursor: pointer;
    background-color: #fff;
}

.goods img{
   width: 100%;
   transition: all .3s ease-out;
}
.goods img:hover{
    transform: translateY(-10px);
}
.goods .title{
    padding: 5px 10px;
    display: block;
    font-size: 12px;
    height: 20px;
    overflow: hidden;
}

.goods .tips{
    line-height: 26px;
    overflow: hidden;
   padding: 0 10px; 
}
.goods .tips span{
    display: block;
    float: left;
}
.goods .tips .price{
    font-size: 14px;
    color: darkblue;
}
.goods .tips .num{
    float:right;
}

.goods-list a {
    display: block;
}
.goods .sell-num{
    display: flex;
    padding: 0 10px;
    align-items: flex-end;
    font-size: 8px;
} 
.goods .sell-num > span{
    margin-right: 5px;
}
.goods .sell-p{
    position: relative;
    height: 10px;
    width: 50px;
    background-color: #cccccc;
    border-radius: 10px;
    overflow: hidden;
}
.more-p{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: red;
}
.sell-num button{
    font-size: 20px;
    padding: 8px;
    margin-left:30px ;
    background-color: #f00;
    color: #fff;
    outline: 0;
}
.sell-num button:hover{
    opacity: 0.6;
}